spring:
  application:
    name: activity-service

  mongodb:
    uri: mongodb://docker:docker@localhost:27017/fitness_activity_db?authSource=admin

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

rabbitmq:
  exchange:
    name: fitness.exchange
  queue:
    name: activity.queue
  routing:
    key: activity.tracking

server:
  port: 8082